flows_raspberrypi.json
[{"id":"700cf1a6.88ca2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c926fdf3.47859","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"2ab70c87.3c4c34","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"910efd2a.3ccd8","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"f7ec14a3.5b09e8","type":"tab","label":"Basic Endpoints","disabled":true,"info":""},{"id":"8d824f00.95b3d","type":"subflow","name":"Subflow 1","info":"","in":[{"x":380,"y":80,"wires":[{"id":"f45af65.acec908"}]}],"out":[{"x":680,"y":80,"wires":[{"id":"f45af65.acec908","port":0}]}]},{"id":"add74827.4b4ad8","type":"subflow","name":"Subflow 2","info":"","in":[{"x":580,"y":80,"wires":[{"id":"81c40a47.7949c8"}]}],"out":[{"x":1220,"y":80,"wires":[{"id":"840281e2.5e18","port":0}]}]},{"id":"d4695f1b.49875","type":"subflow","name":"Subflow 3","info":"","in":[{"x":160,"y":440,"wires":[{"id":"69a5ec2d.9b2f64"}]}],"out":[{"x":900,"y":440,"wires":[{"id":"69c34742.5d9828","port":0}]}]},{"id":"a943da4.86a8728","type":"subflow","name":"Subflow 4","info":"","in":[{"x":820,"y":440,"wires":[{"id":"88108a62.18ae98"}]}],"out":[{"x":1400,"y":360,"wires":[{"id":"f351b47c.d23a48","port":0}]}]},{"id":"6ef1fba2.9c4394","type":"twitter-credentials","z":"","screen_name":"@baskeboler"},{"id":"82fa051.ea6c0f8","type":"sqlitedb","z":"","db":"golovkin.db"},{"id":"2b9c64ae.67e08c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"91844764.516358","type":"amazon config","z":"","name":"AWS","region":"us-east-1"},{"id":"7205c618.7211e8","type":"http in","z":"700cf1a6.88ca2","name":"http-raspicam-request-endpoint","url":"/campic","method":"get","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["5138b6f6.2e7508"]]},{"id":"5138b6f6.2e7508","type":"exec","z":"700cf1a6.88ca2","command":"raspistill -vf -t 50  -o -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take-picture","x":470,"y":180,"wires":[["5f9c85b0.27270c"],[],[]]},{"id":"32ae7e92.167012","type":"http response","z":"700cf1a6.88ca2","name":"return-face-detect-features","statusCode":"","headers":{"content-type":"image/jpeg"},"x":1140,"y":940,"wires":[]},{"id":"b7df2ff6.d9ca7","type":"debug","z":"700cf1a6.88ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1350,"y":400,"wires":[]},{"id":"d2927a64.df64a8","type":"http request","z":"700cf1a6.88ca2","name":"","method":"use","ret":"obj","url":"","tls":"","x":1010,"y":180,"wires":[["6b1319cd.09a7d8","b7df2ff6.d9ca7"]]},{"id":"5f9c85b0.27270c","type":"function","z":"700cf1a6.88ca2","name":"prepare-face-api-request","func":"msg.headers = {\n    'content-type': 'application/octet-stream',\n    'Ocp-Apim-Subscription-Key': 'a9f682b377b04b66903413d217736634' \n};\nmsg.method = 'POST';\nmsg.url = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId=true&returnFaceLandmarks=true&returnFaceAttributes=age,gender,emotion';\nflow.set('image', Buffer.from(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["d2927a64.df64a8","b7df2ff6.d9ca7"]]},{"id":"8990931.3afbc7","type":"comment","z":"700cf1a6.88ca2","name":"Example Face API response","info":"```\n[\n  {\n    \"faceId\": \"7956b1d7-db44-43d4-a398-1cee597a882f\",\n    \"faceRectangle\": {\n      \"top\": 415,\n      \"left\": 1547,\n      \"width\": 176,\n      \"height\": 176\n    },\n    \"faceLandmarks\": {\n      \"pupilLeft\": {\n        \"x\": 1599,\n        \"y\": 458.2\n      },\n      \"pupilRight\": {\n        \"x\": 1665.1,\n        \"y\": 457.8\n      },\n      \"noseTip\": {\n        \"x\": 1645.8,\n        \"y\": 506.3\n      },\n      \"mouthLeft\": {\n        \"x\": 1607,\n        \"y\": 551.3\n      },\n      \"mouthRight\": {\n        \"x\": 1658.9,\n        \"y\": 552.8\n      },\n      \"eyebrowLeftOuter\": {\n        \"x\": 1574.6,\n        \"y\": 435.7\n      },\n      \"eyebrowLeftInner\": {\n        \"x\": 1627.2,\n        \"y\": 440.6\n      },\n      \"eyeLeftOuter\": {\n        \"x\": 1588.1,\n        \"y\": 456.9\n      },\n      \"eyeLeftTop\": {\n        \"x\": 1599.6,\n        \"y\": 451.2\n      },\n      \"eyeLeftBottom\": {\n        \"x\": 1599.4,\n        \"y\": 463\n      },\n      \"eyeLeftInner\": {\n        \"x\": 1612.1,\n        \"y\": 458\n      },\n      \"eyebrowRightInner\": {\n        \"x\": 1651.1,\n        \"y\": 440.3\n      },\n      \"eyebrowRightOuter\": {\n        \"x\": 1689.4,\n        \"y\": 430.3\n      },\n      \"eyeRightInner\": {\n        \"x\": 1656,\n        \"y\": 459.6\n      },\n      \"eyeRightTop\": {\n        \"x\": 1666.9,\n        \"y\": 452.1\n      },\n      \"eyeRightBottom\": {\n        \"x\": 1668.2,\n        \"y\": 463.1\n      },\n      \"eyeRightOuter\": {\n        \"x\": 1678.1,\n        \"y\": 456.7\n      },\n      \"noseRootLeft\": {\n        \"x\": 1627.5,\n        \"y\": 460.8\n      },\n      \"noseRootRight\": {\n        \"x\": 1646.5,\n        \"y\": 460.5\n      },\n      \"noseLeftAlarTop\": {\n        \"x\": 1625.1,\n        \"y\": 494.5\n      },\n      \"noseRightAlarTop\": {\n        \"x\": 1652.3,\n        \"y\": 492.6\n      },\n      \"noseLeftAlarOutTip\": {\n        \"x\": 1620.4,\n        \"y\": 510.5\n      },\n      \"noseRightAlarOutTip\": {\n        \"x\": 1662.1,\n        \"y\": 508.8\n      },\n      \"upperLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 541.1\n      },\n      \"upperLipBottom\": {\n        \"x\": 1638.2,\n        \"y\": 548.4\n      },\n      \"underLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 557.1\n      },\n      \"underLipBottom\": {\n        \"x\": 1639.4,\n        \"y\": 572.2\n      }\n    },\n    \"faceAttributes\": {\n      \"gender\": \"male\",\n      \"age\": 40.6,\n      \"emotion\": {\n        \"anger\": 0.585,\n        \"contempt\": 0.01,\n        \"disgust\": 0.099,\n        \"fear\": 0,\n        \"happiness\": 0,\n        \"neutral\": 0.296,\n        \"sadness\": 0.008,\n        \"surprise\": 0.001\n      }\n    }\n  }\n]\n```","x":660,"y":340,"wires":[]},{"id":"b982e8b.66a6f18","type":"http request","z":"700cf1a6.88ca2","name":"","method":"use","ret":"obj","url":"","tls":"","x":490,"y":540,"wires":[["284b1600.e36e0a","8fdcd974.390958"]]},{"id":"ad012fd7.3bc8b","type":"function","z":"700cf1a6.88ca2","name":"prepare-auth","func":"\nmsg.payload = {\n    username : 'admin',\n    password : 'admin',\n    rememberMe : true\n};\nmsg.method = 'POST';\nmsg.url = 'http://victor-Precision-M4600.local:8080/api/authenticate'\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["b982e8b.66a6f18","8fdcd974.390958"]]},{"id":"284b1600.e36e0a","type":"function","z":"700cf1a6.88ca2","name":"handle-token","func":"//msg.authenticationToken = msg.payload['id_token'];\nvar bearerString = msg.headers['authorization'];\nnode.log('got bearer string: ' + bearerString);\nvar token = bearerString.slice(7, bearerString.length);\nflow.set('auth-token', token);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["1a696629.891bea","8fdcd974.390958"]]},{"id":"be7b6641.b70af8","type":"link out","z":"700cf1a6.88ca2","name":"face-api-response","links":["a3174d82.27391"],"x":1495,"y":180,"wires":[]},{"id":"a3174d82.27391","type":"link in","z":"700cf1a6.88ca2","name":"handle-face-api-response","links":["be7b6641.b70af8","990ba223.d1ec2"],"x":95,"y":540,"wires":[["ad012fd7.3bc8b"]]},{"id":"984bdc13.280b1","type":"function","z":"700cf1a6.88ca2","name":"prepare-save-face-detection","func":"msg.url = 'http://victor-Precision-M4600.local:8080/api/face-detection';\nmsg.method = 'POST';\nmsg.payload = msg.faceDetectionData;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['authorization'] = 'Bearer ' + flow.get('auth-token');\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":420,"wires":[["59f075d8.130ddc","cd989da9.c724"]]},{"id":"6b1319cd.09a7d8","type":"function","z":"700cf1a6.88ca2","name":"save-face-detection-to-context","func":"msg.faceDetectionData = msg.payload;\nflow.set('face-detection-data', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":180,"wires":[["be7b6641.b70af8"]]},{"id":"59f075d8.130ddc","type":"http request","z":"700cf1a6.88ca2","name":"","method":"use","ret":"obj","url":"","tls":"","x":1290,"y":580,"wires":[["afb10fa2.b3e2e","5ab84374.43105c"]]},{"id":"afb10fa2.b3e2e","type":"debug","z":"700cf1a6.88ca2","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1650,"y":680,"wires":[]},{"id":"1a696629.891bea","type":"function","z":"700cf1a6.88ca2","name":"prepare-submit-image","func":"\nmsg.url = 'http://victor-Precision-M4600.local:8080/api/upload/image';\nmsg.method = 'POST';\nlet data = flow.get('image').toString('base64');\nlet faceDetectionData = flow.get('flow-detection-data');\nnode.log('sending image and detection data.')\nnode.log(faceDetectionData);\nmsg.payload = {};\n\nmsg.payload.base64EncodedData = data;\nmsg.payload.faces= msg.faceDetectionData;\n\nmsg.headers = {};\n//msg.topic = \"/image.jpg\";\nmsg.headers['authorization'] = 'Bearer ' + flow.get('auth-token');\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":940,"wires":[["8d7b7b2b.b00c58","c64277e8.a7d8a8"]]},{"id":"c64277e8.a7d8a8","type":"http request","z":"700cf1a6.88ca2","name":"","method":"use","ret":"bin","url":"","tls":"","x":790,"y":940,"wires":[["8d7b7b2b.b00c58","32ae7e92.167012"]]},{"id":"8d7b7b2b.b00c58","type":"debug","z":"700cf1a6.88ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":1200,"wires":[]},{"id":"fa0316f6.fa7d48","type":"catch","z":"700cf1a6.88ca2","name":"","scope":null,"x":1040,"y":1580,"wires":[["ef1977f4.2f5128"]]},{"id":"ef1977f4.2f5128","type":"http response","z":"700cf1a6.88ca2","name":"","statusCode":"500","headers":{},"x":1310,"y":1620,"wires":[]},{"id":"42ae7377.5b67bc","type":"http request","z":"c926fdf3.47859","name":"","method":"use","ret":"obj","url":"","tls":"","x":590,"y":260,"wires":[["6c984fd6.08a4a"]]},{"id":"6c984fd6.08a4a","type":"function","z":"c926fdf3.47859","name":"handle-token","func":"//msg.authenticationToken = msg.payload['id_token'];\nvar bearerString = msg.headers['authorization'];\nnode.log('got bearer string: ' + bearerString);\nvar token = bearerString.slice(7, bearerString.length);\nflow.set('authToken', token);\nmsg.headers = {};\nmsg.headers['authorization'] = 'Bearer ' + token;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["bf77632d.519d2"]]},{"id":"bf77632d.519d2","type":"function","z":"c926fdf3.47859","name":"prepare-save-face-detection","func":"msg.url = 'http://victor-Precision-M4600:8080/api/face-detection';\nmsg.method = 'POST';\nmsg.payload = {\n    \"faceId\": \"7956b1d7-db44-43d4-a398-1cee597a882f\",\n    \"faceRectangle\": {\n      \"top\": 415,\n      \"left\": 1547,\n      \"width\": 176,\n      \"height\": 176\n    },\n    \"faceLandmarks\": {\n      \"pupilLeft\": {\n        \"x\": 1599,\n        \"y\": 458.2\n      },\n      \"pupilRight\": {\n        \"x\": 1665.1,\n        \"y\": 457.8\n      },\n      \"noseTip\": {\n        \"x\": 1645.8,\n        \"y\": 506.3\n      },\n      \"mouthLeft\": {\n        \"x\": 1607,\n        \"y\": 551.3\n      },\n      \"mouthRight\": {\n        \"x\": 1658.9,\n        \"y\": 552.8\n      },\n      \"eyebrowLeftOuter\": {\n        \"x\": 1574.6,\n        \"y\": 435.7\n      },\n      \"eyebrowLeftInner\": {\n        \"x\": 1627.2,\n        \"y\": 440.6\n      },\n      \"eyeLeftOuter\": {\n        \"x\": 1588.1,\n        \"y\": 456.9\n      },\n      \"eyeLeftTop\": {\n        \"x\": 1599.6,\n        \"y\": 451.2\n      },\n      \"eyeLeftBottom\": {\n        \"x\": 1599.4,\n        \"y\": 463\n      },\n      \"eyeLeftInner\": {\n        \"x\": 1612.1,\n        \"y\": 458\n      },\n      \"eyebrowRightInner\": {\n        \"x\": 1651.1,\n        \"y\": 440.3\n      },\n      \"eyebrowRightOuter\": {\n        \"x\": 1689.4,\n        \"y\": 430.3\n      },\n      \"eyeRightInner\": {\n        \"x\": 1656,\n        \"y\": 459.6\n      },\n      \"eyeRightTop\": {\n        \"x\": 1666.9,\n        \"y\": 452.1\n      },\n      \"eyeRightBottom\": {\n        \"x\": 1668.2,\n        \"y\": 463.1\n      },\n      \"eyeRightOuter\": {\n        \"x\": 1678.1,\n        \"y\": 456.7\n      },\n      \"noseRootLeft\": {\n        \"x\": 1627.5,\n        \"y\": 460.8\n      },\n      \"noseRootRight\": {\n        \"x\": 1646.5,\n        \"y\": 460.5\n      },\n      \"noseLeftAlarTop\": {\n        \"x\": 1625.1,\n        \"y\": 494.5\n      },\n      \"noseRightAlarTop\": {\n        \"x\": 1652.3,\n        \"y\": 492.6\n      },\n      \"noseLeftAlarOutTip\": {\n        \"x\": 1620.4,\n        \"y\": 510.5\n      },\n      \"noseRightAlarOutTip\": {\n        \"x\": 1662.1,\n        \"y\": 508.8\n      },\n      \"upperLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 541.1\n      },\n      \"upperLipBottom\": {\n        \"x\": 1638.2,\n        \"y\": 548.4\n      },\n      \"underLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 557.1\n      },\n      \"underLipBottom\": {\n        \"x\": 1639.4,\n        \"y\": 572.2\n      }\n    },\n    \"faceAttributes\": {\n      \"gender\": \"male\",\n      \"age\": 40.6,\n      \"emotion\": {\n        \"anger\": 0.585,\n        \"contempt\": 0.01,\n        \"disgust\": 0.099,\n        \"fear\": 0,\n        \"happiness\": 0,\n        \"neutral\": 0.296,\n        \"sadness\": 0.008,\n        \"surprise\": 0.001\n      }\n    }\n  };\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['authorization'] = 'Bearer ' + flow.get('authToken');\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["7ac249b5.2c4b88"]]},{"id":"7ac249b5.2c4b88","type":"http request","z":"c926fdf3.47859","name":"","method":"use","ret":"obj","url":"","tls":"","x":1320,"y":260,"wires":[["aea6b5a.8518348"]]},{"id":"aea6b5a.8518348","type":"debug","z":"c926fdf3.47859","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1510,"y":360,"wires":[]},{"id":"13885332.9aa67d","type":"function","z":"c926fdf3.47859","name":"prepare-auth","func":"\nmsg.payload = {\n    username : 'admin',\n    password : 'admin',\n    rememberMe : true\n};\nmsg.method = 'POST';\nmsg.url = 'http://victor-Precision-M4600:8080/api/authenticate'\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["42ae7377.5b67bc"]]},{"id":"de1d6ef0.735b2","type":"inject","z":"c926fdf3.47859","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":180,"wires":[["13885332.9aa67d"]]},{"id":"8cdf8fe8.ff95a","type":"comment","z":"c926fdf3.47859","name":"Test de save-face-detection","info":"","x":240,"y":120,"wires":[]},{"id":"8fdcd974.390958","type":"debug","z":"700cf1a6.88ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":780,"wires":[]},{"id":"cd989da9.c724","type":"debug","z":"700cf1a6.88ca2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":680,"wires":[]},{"id":"5ab84374.43105c","type":"function","z":"700cf1a6.88ca2","name":"prepare-save-file","func":"var filename = `${msg.payload[0].id}.jpg`;\nflow.set('image-id', msg.payload[0].id);\nnode.log(`Saving file to ${filename}`);\nmsg.filename = filename;\nmsg.payload = flow.get('image');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":540,"wires":[["afb10fa2.b3e2e"]]},{"id":"195e883b.e38b08","type":"http in","z":"2ab70c87.3c4c34","name":"http-raspicam-request-endpoint","url":"/campic2","method":"get","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["434a8756.a295a8"]]},{"id":"434a8756.a295a8","type":"exec","z":"2ab70c87.3c4c34","command":"raspistill -vf -w 640 -h 480 -o -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take-picture","x":450,"y":100,"wires":[["e031c5ac.691c58"],[],[]]},{"id":"f639b370.e7276","type":"http response","z":"2ab70c87.3c4c34","name":"return-face-detect-features","statusCode":"","headers":{"content-type":"application/json"},"x":1420,"y":940,"wires":[],"inputLabels":["faceDetectionData"]},{"id":"eeb2699c.fb19f8","type":"debug","z":"2ab70c87.3c4c34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1370,"y":320,"wires":[]},{"id":"7a547705.314458","type":"http request","z":"2ab70c87.3c4c34","name":"","method":"use","ret":"obj","url":"","tls":"","x":1030,"y":100,"wires":[["eeb2699c.fb19f8","ce6c2e0d.842b"]]},{"id":"b7a91d8a.69e54","type":"function","z":"2ab70c87.3c4c34","name":"prepare-face-api-request","func":"msg.headers = {\n    'content-type': 'application/octet-stream',\n    'Ocp-Apim-Subscription-Key': 'a9f682b377b04b66903413d217736634' \n};\nmsg.method = 'POST';\nmsg.url = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId=true&returnFaceLandmarks=true&returnFaceAttributes=age,gender,emotion';\nflow.set('image', Buffer.from(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":100,"wires":[["7a547705.314458","eeb2699c.fb19f8"]]},{"id":"4db03ddd.74d6a4","type":"comment","z":"2ab70c87.3c4c34","name":"Example Face API response","info":"```\n[\n  {\n    \"faceId\": \"7956b1d7-db44-43d4-a398-1cee597a882f\",\n    \"faceRectangle\": {\n      \"top\": 415,\n      \"left\": 1547,\n      \"width\": 176,\n      \"height\": 176\n    },\n    \"faceLandmarks\": {\n      \"pupilLeft\": {\n        \"x\": 1599,\n        \"y\": 458.2\n      },\n      \"pupilRight\": {\n        \"x\": 1665.1,\n        \"y\": 457.8\n      },\n      \"noseTip\": {\n        \"x\": 1645.8,\n        \"y\": 506.3\n      },\n      \"mouthLeft\": {\n        \"x\": 1607,\n        \"y\": 551.3\n      },\n      \"mouthRight\": {\n        \"x\": 1658.9,\n        \"y\": 552.8\n      },\n      \"eyebrowLeftOuter\": {\n        \"x\": 1574.6,\n        \"y\": 435.7\n      },\n      \"eyebrowLeftInner\": {\n        \"x\": 1627.2,\n        \"y\": 440.6\n      },\n      \"eyeLeftOuter\": {\n        \"x\": 1588.1,\n        \"y\": 456.9\n      },\n      \"eyeLeftTop\": {\n        \"x\": 1599.6,\n        \"y\": 451.2\n      },\n      \"eyeLeftBottom\": {\n        \"x\": 1599.4,\n        \"y\": 463\n      },\n      \"eyeLeftInner\": {\n        \"x\": 1612.1,\n        \"y\": 458\n      },\n      \"eyebrowRightInner\": {\n        \"x\": 1651.1,\n        \"y\": 440.3\n      },\n      \"eyebrowRightOuter\": {\n        \"x\": 1689.4,\n        \"y\": 430.3\n      },\n      \"eyeRightInner\": {\n        \"x\": 1656,\n        \"y\": 459.6\n      },\n      \"eyeRightTop\": {\n        \"x\": 1666.9,\n        \"y\": 452.1\n      },\n      \"eyeRightBottom\": {\n        \"x\": 1668.2,\n        \"y\": 463.1\n      },\n      \"eyeRightOuter\": {\n        \"x\": 1678.1,\n        \"y\": 456.7\n      },\n      \"noseRootLeft\": {\n        \"x\": 1627.5,\n        \"y\": 460.8\n      },\n      \"noseRootRight\": {\n        \"x\": 1646.5,\n        \"y\": 460.5\n      },\n      \"noseLeftAlarTop\": {\n        \"x\": 1625.1,\n        \"y\": 494.5\n      },\n      \"noseRightAlarTop\": {\n        \"x\": 1652.3,\n        \"y\": 492.6\n      },\n      \"noseLeftAlarOutTip\": {\n        \"x\": 1620.4,\n        \"y\": 510.5\n      },\n      \"noseRightAlarOutTip\": {\n        \"x\": 1662.1,\n        \"y\": 508.8\n      },\n      \"upperLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 541.1\n      },\n      \"upperLipBottom\": {\n        \"x\": 1638.2,\n        \"y\": 548.4\n      },\n      \"underLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 557.1\n      },\n      \"underLipBottom\": {\n        \"x\": 1639.4,\n        \"y\": 572.2\n      }\n    },\n    \"faceAttributes\": {\n      \"gender\": \"male\",\n      \"age\": 40.6,\n      \"emotion\": {\n        \"anger\": 0.585,\n        \"contempt\": 0.01,\n        \"disgust\": 0.099,\n        \"fear\": 0,\n        \"happiness\": 0,\n        \"neutral\": 0.296,\n        \"sadness\": 0.008,\n        \"surprise\": 0.001\n      }\n    }\n  }\n]\n```","x":680,"y":260,"wires":[]},{"id":"a2c0bda8.9684e","type":"http request","z":"2ab70c87.3c4c34","name":"","method":"use","ret":"obj","url":"","tls":"","x":510,"y":460,"wires":[["fc64e16e.21bec","e1060158.40a59"]]},{"id":"dc9926d9.6d70c8","type":"function","z":"2ab70c87.3c4c34","name":"prepare-auth","func":"\nmsg.payload = {\n    username : 'admin',\n    password : 'admin',\n    rememberMe : true\n};\nmsg.method = 'POST';\nmsg.url = 'http://victor-Precision-M4600.local:8080/api/authenticate'\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["a2c0bda8.9684e","e1060158.40a59"]]},{"id":"fc64e16e.21bec","type":"function","z":"2ab70c87.3c4c34","name":"handle-token","func":"//msg.authenticationToken = msg.payload['id_token'];\nvar bearerString = msg.headers['authorization'];\nnode.log('got bearer string: ' + bearerString);\nvar token = bearerString.slice(7, bearerString.length);\nflow.set('auth-token', token);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["4450fdd6.bc7d04","b1842908.d06038"]]},{"id":"46a563b4.46fefc","type":"link out","z":"2ab70c87.3c4c34","name":"after-face-api-response","links":["48afd3db.382a6c"],"x":1515,"y":100,"wires":[]},{"id":"7f35b271.8e17ac","type":"link in","z":"2ab70c87.3c4c34","name":"before-save-detection-data","links":["53d07a1c.24c8d4"],"x":115,"y":460,"wires":[["dc9926d9.6d70c8"]]},{"id":"4450fdd6.bc7d04","type":"function","z":"2ab70c87.3c4c34","name":"prepare-save-face-detection","func":"msg.url = 'http://victor-Precision-M4600.local:8080/api/face-detection';\nmsg.method = 'POST';\nmsg.payload = msg.faceDetectionData;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['authorization'] = 'Bearer ' + flow.get('auth-token');\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":460,"wires":[["4089ee93.92dec","b1842908.d06038"]]},{"id":"ce6c2e0d.842b","type":"function","z":"2ab70c87.3c4c34","name":"save-face-detection-to-context","func":"msg.faceDetectionData = msg.payload;\nflow.set('face-detection-data', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":100,"wires":[["46a563b4.46fefc"]]},{"id":"4089ee93.92dec","type":"http request","z":"2ab70c87.3c4c34","name":"","method":"use","ret":"obj","url":"","tls":"","x":1240,"y":460,"wires":[["da20ef37.43bb6","951d5061.67b85"]]},{"id":"da20ef37.43bb6","type":"debug","z":"2ab70c87.3c4c34","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1670,"y":600,"wires":[]},{"id":"6bb259ea.bb6ca8","type":"function","z":"2ab70c87.3c4c34","name":"prepare-submit-image","func":"if (!flow.get('image-id') ) {\n    node.error('no image id');\n    return;\n}\nmsg.url = 'http://victor-Precision-M4600.local:8080/api/upload/image/' + flow.get('image-id');\nmsg.method = 'POST';\nlet data = flow.get('image').toString('base64');\nmsg.payload = {\n    data: data\n};\nmsg.headers = {};\n//msg.topic = \"/image.jpg\";\nmsg.headers['authorization'] = 'Bearer ' + flow.get('auth-token');\n//msg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":860,"wires":[["8211ab0d.601e78","278c56b6.910a4a"]]},{"id":"278c56b6.910a4a","type":"http request","z":"2ab70c87.3c4c34","name":"","method":"use","ret":"txt","url":"","tls":"","x":770,"y":860,"wires":[["8211ab0d.601e78","42d14a1.20d05b4"]]},{"id":"8211ab0d.601e78","type":"debug","z":"2ab70c87.3c4c34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":1100,"wires":[]},{"id":"223fd58b.14123a","type":"link out","z":"2ab70c87.3c4c34","name":"after-save-detection-data","links":["9e716fff.dfd5d"],"x":1695,"y":460,"wires":[]},{"id":"9e716fff.dfd5d","type":"link in","z":"2ab70c87.3c4c34","name":"before-save-image","links":["223fd58b.14123a"],"x":155,"y":860,"wires":[["6bb259ea.bb6ca8"]]},{"id":"4a0b0fdc.fe054","type":"catch","z":"2ab70c87.3c4c34","name":"","scope":null,"x":1060,"y":1500,"wires":[["b47640d1.4b3a"]]},{"id":"b47640d1.4b3a","type":"http response","z":"2ab70c87.3c4c34","name":"","statusCode":"500","headers":{},"x":1330,"y":1540,"wires":[]},{"id":"e1060158.40a59","type":"debug","z":"2ab70c87.3c4c34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":600,"wires":[]},{"id":"b1842908.d06038","type":"debug","z":"2ab70c87.3c4c34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":600,"wires":[]},{"id":"7ae7137d.f0f4ac","type":"file","z":"2ab70c87.3c4c34","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1590,"y":820,"wires":[]},{"id":"951d5061.67b85","type":"function","z":"2ab70c87.3c4c34","name":"prepare-save-file","func":"var filename = `${msg.payload[0].id}.jpg`;\nflow.set('image-id', msg.payload[0].id);\nnode.log(`Saving file to ${filename}`);\nmsg.filename = filename;\nmsg.payload = flow.get('image');\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":460,"wires":[["da20ef37.43bb6","223fd58b.14123a"]]},{"id":"e031c5ac.691c58","type":"function","z":"2ab70c87.3c4c34","name":"save-image-to-flow-context","func":"flow.set('image', Buffer.from(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["53d07a1c.24c8d4"]]},{"id":"53d07a1c.24c8d4","type":"link out","z":"2ab70c87.3c4c34","name":"after-save-image-to-context","links":["7f35b271.8e17ac"],"x":895,"y":180,"wires":[]},{"id":"8a33b25b.179a3","type":"link in","z":"2ab70c87.3c4c34","name":"before-face-api-request","links":["42d14a1.20d05b4"],"x":655,"y":40,"wires":[["b7a91d8a.69e54"]]},{"id":"42d14a1.20d05b4","type":"link out","z":"2ab70c87.3c4c34","name":"after-save-image","links":["8a33b25b.179a3"],"x":975,"y":740,"wires":[]},{"id":"48afd3db.382a6c","type":"link in","z":"2ab70c87.3c4c34","name":"before-return-response","links":["46a563b4.46fefc"],"x":1175,"y":780,"wires":[["f639b370.e7276"]]},{"id":"a358d362.c4909","type":"http in","z":"910efd2a.3ccd8","name":"http-raspicam-request-endpoint","url":"/campic3","method":"get","upload":false,"swaggerDoc":"","x":270,"y":80,"wires":[["b4e645d.100c4b8"]]},{"id":"f45af65.acec908","type":"exec","z":"8d824f00.95b3d","command":"raspistill -vf -w 1024 -h 768 -t 1 -o -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take-picture","x":530,"y":80,"wires":[[],[],[]]},{"id":"6d1fd5f7.2e128c","type":"http response","z":"910efd2a.3ccd8","name":"return-face-detect-features","statusCode":"","headers":{"content-type":"application/json"},"x":1200,"y":840,"wires":[],"inputLabels":["faceDetectionData"]},{"id":"e1b7f6c8.bc45b8","type":"debug","z":"910efd2a.3ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1410,"y":300,"wires":[]},{"id":"840281e2.5e18","type":"http request","z":"add74827.4b4ad8","name":"","method":"use","ret":"obj","url":"","tls":"","x":1070,"y":80,"wires":[[]]},{"id":"81c40a47.7949c8","type":"function","z":"add74827.4b4ad8","name":"prepare-face-api-request","func":"msg.headers = {\n    'content-type': 'application/octet-stream',\n    'Ocp-Apim-Subscription-Key': 'a9f682b377b04b66903413d217736634' \n};\nmsg.method = 'POST';\nmsg.url = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId=true&returnFaceLandmarks=true&returnFaceAttributes=age,gender,emotion';\nflow.set('image', Buffer.from(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["840281e2.5e18"]]},{"id":"5fe55b42.6cffc4","type":"comment","z":"910efd2a.3ccd8","name":"Example Face API response","info":"```\n[\n  {\n    \"faceId\": \"7956b1d7-db44-43d4-a398-1cee597a882f\",\n    \"faceRectangle\": {\n      \"top\": 415,\n      \"left\": 1547,\n      \"width\": 176,\n      \"height\": 176\n    },\n    \"faceLandmarks\": {\n      \"pupilLeft\": {\n        \"x\": 1599,\n        \"y\": 458.2\n      },\n      \"pupilRight\": {\n        \"x\": 1665.1,\n        \"y\": 457.8\n      },\n      \"noseTip\": {\n        \"x\": 1645.8,\n        \"y\": 506.3\n      },\n      \"mouthLeft\": {\n        \"x\": 1607,\n        \"y\": 551.3\n      },\n      \"mouthRight\": {\n        \"x\": 1658.9,\n        \"y\": 552.8\n      },\n      \"eyebrowLeftOuter\": {\n        \"x\": 1574.6,\n        \"y\": 435.7\n      },\n      \"eyebrowLeftInner\": {\n        \"x\": 1627.2,\n        \"y\": 440.6\n      },\n      \"eyeLeftOuter\": {\n        \"x\": 1588.1,\n        \"y\": 456.9\n      },\n      \"eyeLeftTop\": {\n        \"x\": 1599.6,\n        \"y\": 451.2\n      },\n      \"eyeLeftBottom\": {\n        \"x\": 1599.4,\n        \"y\": 463\n      },\n      \"eyeLeftInner\": {\n        \"x\": 1612.1,\n        \"y\": 458\n      },\n      \"eyebrowRightInner\": {\n        \"x\": 1651.1,\n        \"y\": 440.3\n      },\n      \"eyebrowRightOuter\": {\n        \"x\": 1689.4,\n        \"y\": 430.3\n      },\n      \"eyeRightInner\": {\n        \"x\": 1656,\n        \"y\": 459.6\n      },\n      \"eyeRightTop\": {\n        \"x\": 1666.9,\n        \"y\": 452.1\n      },\n      \"eyeRightBottom\": {\n        \"x\": 1668.2,\n        \"y\": 463.1\n      },\n      \"eyeRightOuter\": {\n        \"x\": 1678.1,\n        \"y\": 456.7\n      },\n      \"noseRootLeft\": {\n        \"x\": 1627.5,\n        \"y\": 460.8\n      },\n      \"noseRootRight\": {\n        \"x\": 1646.5,\n        \"y\": 460.5\n      },\n      \"noseLeftAlarTop\": {\n        \"x\": 1625.1,\n        \"y\": 494.5\n      },\n      \"noseRightAlarTop\": {\n        \"x\": 1652.3,\n        \"y\": 492.6\n      },\n      \"noseLeftAlarOutTip\": {\n        \"x\": 1620.4,\n        \"y\": 510.5\n      },\n      \"noseRightAlarOutTip\": {\n        \"x\": 1662.1,\n        \"y\": 508.8\n      },\n      \"upperLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 541.1\n      },\n      \"upperLipBottom\": {\n        \"x\": 1638.2,\n        \"y\": 548.4\n      },\n      \"underLipTop\": {\n        \"x\": 1638.9,\n        \"y\": 557.1\n      },\n      \"underLipBottom\": {\n        \"x\": 1639.4,\n        \"y\": 572.2\n      }\n    },\n    \"faceAttributes\": {\n      \"gender\": \"male\",\n      \"age\": 40.6,\n      \"emotion\": {\n        \"anger\": 0.585,\n        \"contempt\": 0.01,\n        \"disgust\": 0.099,\n        \"fear\": 0,\n        \"happiness\": 0,\n        \"neutral\": 0.296,\n        \"sadness\": 0.008,\n        \"surprise\": 0.001\n      }\n    }\n  }\n]\n```","x":720,"y":240,"wires":[]},{"id":"a0f7ab73.0e4968","type":"http request","z":"d4695f1b.49875","name":"","method":"use","ret":"obj","url":"","tls":"","x":550,"y":440,"wires":[["69c34742.5d9828"]]},{"id":"69a5ec2d.9b2f64","type":"function","z":"d4695f1b.49875","name":"prepare-auth","func":"\nmsg.payload = {\n    username : 'admin',\n    password : 'admin',\n    rememberMe : true\n};\nmsg.method = 'POST';\nmsg.url = 'http://victor-Precision-M4600.local:8080/api/authenticate'\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["a0f7ab73.0e4968"]]},{"id":"69c34742.5d9828","type":"function","z":"d4695f1b.49875","name":"handle-token","func":"//msg.authenticationToken = msg.payload['id_token'];\nvar bearerString = msg.headers['authorization'];\nnode.log('got bearer string: ' + bearerString);\nvar token = bearerString.slice(7, bearerString.length);\nflow.set('auth-token', token);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":440,"wires":[[]]},{"id":"ca74a393.7c5a3","type":"link out","z":"910efd2a.3ccd8","name":"face-api-response","links":["86b595a3.a37898"],"x":1555,"y":80,"wires":[]},{"id":"86b595a3.a37898","type":"link in","z":"910efd2a.3ccd8","name":"handle-face-api-response","links":["ca74a393.7c5a3","990ba223.d1ec2"],"x":155,"y":440,"wires":[["895eddfb.1b9a9"]]},{"id":"88108a62.18ae98","type":"function","z":"a943da4.86a8728","name":"prepare-save-face-detection","func":"msg.url = 'http://victor-Precision-M4600.local:8080/api/face-detection';\nmsg.method = 'POST';\nmsg.payload = msg.faceDetectionData;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['authorization'] = 'Bearer ' + flow.get('auth-token');\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":440,"wires":[["139fcbcb.bf5984"]]},{"id":"b6dad8bb.9f04c8","type":"function","z":"910efd2a.3ccd8","name":"save-face-detection-to-context","func":"msg.faceDetectionData = msg.payload;\nflow.set('face-detection-data', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":80,"wires":[["ca74a393.7c5a3"]]},{"id":"139fcbcb.bf5984","type":"http request","z":"a943da4.86a8728","name":"","method":"use","ret":"obj","url":"","tls":"","x":1280,"y":440,"wires":[["f351b47c.d23a48"]]},{"id":"7d034b46.a723a4","type":"function","z":"910efd2a.3ccd8","name":"prepare-submit-image","func":"if (!flow.get('image-id') ) {\n    node.error('no image id');\n    return;\n}\nmsg.url = 'http://victor-Precision-M4600.local:8080/api/upload/image/' + flow.get('image-id');\nmsg.method = 'POST';\nlet data = flow.get('image').toString('base64');\nmsg.payload = {\n    data: data\n};\nmsg.headers = {};\n//msg.topic = \"/image.jpg\";\nmsg.headers['authorization'] = 'Bearer ' + flow.get('auth-token');\n//msg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":840,"wires":[["62ff9798.03d2c8","eef24afb.65ad08"]]},{"id":"eef24afb.65ad08","type":"http request","z":"910efd2a.3ccd8","name":"","method":"use","ret":"txt","url":"","tls":"","x":850,"y":840,"wires":[["62ff9798.03d2c8","6d1fd5f7.2e128c"]]},{"id":"62ff9798.03d2c8","type":"debug","z":"910efd2a.3ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1080,"wires":[]},{"id":"1630363a.609c6a","type":"link out","z":"910efd2a.3ccd8","name":"before-save","links":["7d35138c.14591c"],"x":1735,"y":440,"wires":[]},{"id":"7d35138c.14591c","type":"link in","z":"910efd2a.3ccd8","name":"start-save","links":["1630363a.609c6a"],"x":195,"y":840,"wires":[["7d034b46.a723a4"]]},{"id":"5544fa19.010914","type":"catch","z":"910efd2a.3ccd8","name":"","scope":null,"x":1100,"y":1480,"wires":[["3ad71f3a.6cdf6"]]},{"id":"3ad71f3a.6cdf6","type":"http response","z":"910efd2a.3ccd8","name":"","statusCode":"500","headers":{},"x":1370,"y":1520,"wires":[]},{"id":"a3280f74.df2ef","type":"debug","z":"910efd2a.3ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":580,"wires":[]},{"id":"3fedab4c.3630f4","type":"debug","z":"910efd2a.3ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":560,"wires":[]},{"id":"b4e645d.100c4b8","type":"subflow:8d824f00.95b3d","z":"910efd2a.3ccd8","name":"Take Picture","x":540,"y":80,"wires":[["9c8406e8.b5b288"]]},{"id":"9c8406e8.b5b288","type":"subflow:add74827.4b4ad8","z":"910efd2a.3ccd8","name":"post-to-face-detect","x":810,"y":80,"wires":[["b6dad8bb.9f04c8","e1b7f6c8.bc45b8"]]},{"id":"895eddfb.1b9a9","type":"subflow:d4695f1b.49875","z":"910efd2a.3ccd8","name":"auth-jface","x":530,"y":440,"wires":[["3fedab4c.3630f4","722d4c35.06a2f4"]]},{"id":"f351b47c.d23a48","type":"function","z":"a943da4.86a8728","name":"save-image-id-to-context","func":"var filename = `${msg.payload[0].id}.jpg`;\nflow.set('image-id', msg.payload[0].id);\nnode.log(`Saving file to ${filename}`);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":360,"wires":[[]]},{"id":"722d4c35.06a2f4","type":"subflow:a943da4.86a8728","z":"910efd2a.3ccd8","name":"save-face-detection","x":930,"y":440,"wires":[["a3280f74.df2ef","1630363a.609c6a"]]},{"id":"8619b81a.7c2598","type":"exec","z":"f7ec14a3.5b09e8","command":"raspistill -vf -t 1000  -o -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take-picture","x":470,"y":280,"wires":[["e2773767.dd9a58"],[],["d6c5f152.9b1cb"]]},{"id":"2a7eb17a.46168e","type":"http in","z":"f7ec14a3.5b09e8","name":"","url":"/raspistill","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["8619b81a.7c2598","d6c5f152.9b1cb"]]},{"id":"e2773767.dd9a58","type":"http response","z":"f7ec14a3.5b09e8","name":"","statusCode":"200","headers":{"content-type":"image/jpeg"},"x":850,"y":280,"wires":[]},{"id":"1736b722.469d89","type":"http in","z":"f7ec14a3.5b09e8","name":"","url":"/tags","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["604e4d2d.49a984"]]},{"id":"d995aec0.26a12","type":"http response","z":"f7ec14a3.5b09e8","name":"","statusCode":"","headers":{},"x":1080,"y":520,"wires":[]},{"id":"604e4d2d.49a984","type":"exec","z":"f7ec14a3.5b09e8","command":"raspistill -vf -t 1000  -o -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take-picture","x":430,"y":520,"wires":[["9720316c.6581c"],[],[]]},{"id":"c684c99e.cc33b8","type":"http request","z":"f7ec14a3.5b09e8","name":"","method":"POST","ret":"obj","url":"http://victor-precision-m4600.local:8080/tagbox/check","tls":"","x":830,"y":560,"wires":[["d995aec0.26a12","b3a75800.03a668"]]},{"id":"9720316c.6581c","type":"function","z":"f7ec14a3.5b09e8","name":"prepareFaceBoxRequest","func":"/*\nPOST /tagbox/check\n{\n\"base64\": \"{base64}\"\n}\nbase64 - (string) The Base64 encoded string of the file\nSet the Content-Type header to \"application/json; charset=utf-8\"\n*/\n\nlet image = Buffer.from(msg.payload);\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json; charset=utf-8'\nmsg.payload = {\n    base64: image.toString('base64')\n};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["c684c99e.cc33b8","b3a75800.03a668"]]},{"id":"b3a75800.03a668","type":"debug","z":"f7ec14a3.5b09e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":680,"wires":[]},{"id":"2e6636e7.835afa","type":"inject","z":"f7ec14a3.5b09e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":100,"wires":[["d6c5f152.9b1cb"]]},{"id":"d6c5f152.9b1cb","type":"debug","z":"f7ec14a3.5b09e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":120,"wires":[]}]